<article>
    <div class="header">
        <h2>Diseño de aplicaciones a medida</h2>
        <p>Cuando se trata de colocar <span>TU IMAGEN</span> en internet es importante tu escencia.</p>
        <!-- <button>GitHub</button> -->
    </div>
    <div class="gallery">
        <img class="screen" src="assets/images/CovidFrame.webp" alt="">
        <img class="screen" src="assets/images/YummiFrame.webp" alt="">
    </div>
    <img class="background" src="assets/images/Rectangle 82(square).svg" alt="">

</article>