@media only screen and (max-width: 768px) {
    article {
        // border: blue solid 1px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: 100vh;
        // overflow-y: hidden;
        div {
            padding: 15px;
            h2 {
                color: var(--secondary-color);
                font-family: "Poppins Bold";
                font-size: 2.3rem;
            }
            p {
                font-size: 1.6em;
                color: var(--secondary-color);
                span {
                    font-family: "Poppins Bold";
                }
            }
        }
        div.gallery {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            img.screen {
                max-height: 22vh;
                aspect-ratio: 16 / 9;
                // width: calc(100% - 30px);
                box-shadow: 0px 118.904px 95.1231px rgba(0, 0, 0, 0.07),
                    0px 49.6752px 39.7401px rgba(0, 0, 0, 0.0503198), 0px 26.5587px 21.247px rgba(0, 0, 0, 0.0417275),
                    0px 14.8886px 11.9109px rgba(0, 0, 0, 0.035), 0px 7.90723px 6.32578px rgba(0, 0, 0, 0.0282725),
                    0px 3.29037px 2.6323px rgba(0, 0, 0, 0.0196802);
                border-radius: 15px;
            }
        }
        img.background {
            position: absolute;
            // bottom: -100vh;
            top: 145vh;
            left: 50%;
            transform: translateX(-50%);
            height: 55vh;
            width: 70vw;
            object-fit: cover;
            object-position: bottom;
            border-radius: 15px 15px 0 0;
            z-index: -1;
            // border: yellow solid 1px;
        }
    }
}
@media only screen and (min-width: 768px) {
    article {
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
        margin: 0;
        padding: 0 11%;
        height: 100vh;
        // border: red solid 1px;
        div {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            // border: blue solid 1px;
            justify-content: center;
            align-items: center;
            gap: 45px;
            h2 {
                font-size: 4.5em;
                font-family: "Poppins Bold";
                margin: 0;
                padding: 0;
                color: var(--secondary-color);
            }
            p {
                font-size: 2.5em;
                color: var(--secondary-color);
                span {
                    font-family: "Poppins Bold";
                }
            }
        }
        div.gallery {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            gap: 25px;
            // border: green solid 1px;
            img.screen {
                width: 80%;
                border-radius: 15px;
                box-shadow: 0px 118.904px 95.1231px rgba(0, 0, 0, 0.07),
                    0px 49.6752px 39.7401px rgba(0, 0, 0, 0.0503198), 0px 26.5587px 21.247px rgba(0, 0, 0, 0.0417275),
                    0px 14.8886px 11.9109px rgba(0, 0, 0, 0.035), 0px 7.90723px 6.32578px rgba(0, 0, 0, 0.0282725),
                    0px 3.29037px 2.6323px rgba(0, 0, 0, 0.0196802);
            }
        }
        img.background {
            position: absolute;
            bottom: -100vh;
            right: calc(11% + 7px);
            height: 70%;
            width: calc(50% - 11% - 15px);
            object-fit: cover;
            z-index: -1;
            box-sizing: border-box;
            border-radius: 15px 15px 0 0;
        }
    }
}
