@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("assets/fonts/Poppins/Poppins-Bold.ttf");
}

:root {
    --primary-color: #0466c8;
    --secondary-color: #03407d;
    --lighter-color: #c1d9f2;
    --darker-color: #011a32;
    --white-color: #fff;
    --black-color: #000;
}

body {
    margin: 0;
    padding: 0;
    // width: 100vw;
    * {
        line-height: 100%;
        letter-spacing: -0.07em;
        font-family: "Poppins", sans-serif;
    }
}
